In [1]:
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
# create dataframe from CSV file 
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kavaratti,IN,2021-11-18 17:22:02,10.5669,72.6420,81.63,73,100,12.46
1,1,Kirkwood,US,2021-11-18 17:22:03,38.5834,-90.4068,47.52,37,20,7.00
2,2,Ushuaia,AR,2021-11-18 17:17:33,-54.8000,-68.3000,51.42,61,40,21.85
3,3,East London,ZA,2021-11-18 17:18:15,-33.0153,27.9116,63.54,77,0,10.36
4,4,Port Alfred,ZA,2021-11-18 17:22:05,-33.5906,26.8910,61.48,62,9,11.59

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use your google API key
gmaps.configure(api_key = g_key)

In [5]:
# assign locations to an array of lats and lngs pairs
locations = city_data_df[['Lat', 'Lng']]

# get max temps
max_temp = city_data_df['Max Temp']

# assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

# assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp,0) for temp in max_temp], 
                                 dissipating = False, 
                                 max_intensity= 300, 
                                 point_radius = 4)

# add the headmap layer
fig.add_layer(heat_layer)

# call the figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# heatmap of percent humidity 
locations = city_data_df[['Lat','Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity,
                                dissipating = False,
                                max_intensity = 300,
                                point_radius = 4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# heatmap of percent cloudiness 
locations = city_data_df[['Lat','Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds,
                                dissipating = False,
                                max_intensity = 300,
                                point_radius = 4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# heatmap of winds 
locations = city_data_df[['Lat','Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind,
                                dissipating = False,
                                max_intensity = 300,
                                point_radius = 4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# ask customer to add a min and max temp value
min_temp= float(input('What is the minimum temperature you would like for your trip?'))
max_temp= float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?85

In [10]:
# filter dataset to find cities that meet criteria 
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                                      (city_data_df['Max Temp'] >= min_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kavaratti,IN,2021-11-18 17:22:02,10.5669,72.6420,81.63,73,100,12.46
7,7,Georgetown,MY,2021-11-18 17:22:08,5.4112,100.3354,76.95,94,20,1.14
10,10,Mbandaka,CD,2021-11-18 17:22:10,0.0487,18.2603,71.69,87,84,3.22
14,14,Sesheke,ZM,2021-11-18 17:22:13,-17.4759,24.2968,79.43,43,99,13.13
15,15,Kerema,PG,2021-11-18 17:22:14,-7.9631,145.7785,78.55,85,100,2.53
17,17,Ndende,GA,2021-11-18 17:22:15,-2.4008,11.3581,77.07,92,64,2.06
21,21,Vanimo,PG,2021-11-18 17:22:18,-2.6741,141.3028,77.94,88,87,2.13
24,24,Butaritari,KI,2021-11-18 17:22:21,3.0707,172.7902,81.41,78,100,13.94
25,25,Rikitea,PF,2021-11-18 17:22:21,-23.1203,-134.9692,72.48,68,37,14.07
31,31,Kapaa,US,2021-11-18 17:22:27,22.0752,-159.3190,75.18,97,75,5.75

In [11]:
preferred_cities_df.count()

City_ID       194
City          194
Country       194
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [26]:
# create a df to store hotel names along with city, country, max temp and coordinates 
hotel_df = preferred_cities_df[['City','Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] =''
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0    Kavaratti      IN     81.63  10.5669   72.6420
7   Georgetown      MY     76.95   5.4112  100.3354
10    Mbandaka      CD     71.69   0.0487   18.2603
14     Sesheke      ZM     79.43 -17.4759   24.2968
15      Kerema      PG     78.55  -7.9631  145.7785
17      Ndende      GA     77.07  -2.4008   11.3581
21      Vanimo      PG     77.94  -2.6741  141.3028
24  Butaritari      KI     81.41   3.0707  172.7902
25     Rikitea      PF     72.48 -23.1203 -134.9692
31       Kapaa      US     75.18  22.0752 -159.3190

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kavaratti,IN,81.63,10.5669,72.6420,Hotels in Lakshadweep Islands
7,Georgetown,MY,76.95,5.4112,100.3354,Cititel Penang
10,Mbandaka,CD,71.69,0.0487,18.2603,Guest House Epervier
14,Sesheke,ZM,79.43,-17.4759,24.2968,Protea Hotel by Marriott Zambezi River Lodge
15,Kerema,PG,78.55,-7.9631,145.7785,Frena Lodge
17,Ndende,GA,77.07,-2.4008,11.3581,
21,Vanimo,PG,77.94,-2.6741,141.3028,Vahmoneh Lodge Vanimo
24,Butaritari,KI,81.41,3.0707,172.7902,Isles Sunset Lodge
25,Rikitea,PF,72.48,-23.1203,-134.9692,People ThankYou
31,Kapaa,US,75.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]